.footer {
    background: #002947FF;
    color: var(--white);
    width: 100%;
}


.footerContent {
    max-width: 1320px; /* или как в .wrapper: 1200px + отступы */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 10px 40px;
    padding: 25px 30px;
    font-size: 16px;
    line-height: 20px;
}

.p {
    font-size: 12px;
    line-height: 16px;
}

.footerContent a {
    color: var(--white);
    text-decoration: none;
}

.footerContent a:hover {
    color: var(--gray-light);
}

@media (width <= 765px) {
    .footerContent {
        grid-template-columns: 1fr 1fr;
    }
}