/*@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import "https://fonts.googleapis.com/css2?family=Geist:wght@400;600&family=Geist+Mono:wght@400;600&display=swap";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background: #fff;
  --foreground: #171717;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #6344df;
  --black: #3b434e;
  --gray-light: #ebebeb;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4 ;
  --font-family: 'Noto Sans KR', sans-serif;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-sans); /*  Используй переменную для шрифта */
}
